<h1>First Words!</h1>
<p>Welcome to the First Words app, where you can challenge your child's decision making ability.</p>
<% if !user_signed_in? %>
	<p>Please <%= link_to "sign in", new_user_session_path %> to save your results.<p>
<% end %>

<%= form_tag(game_play_path, :method => 'get') do %>
	Select a level:
	<%= select_tag :level, options_for_select([1, 2, 3]) %><br>

	Select a category:
	<%= select_tag :category, options_for_select(Picture.all.collect{|p| [p.category, p.category]}.uniq.sort) %><br>

	Cummulative?
	<%= check_box_tag 'cummulative' %><br>

	<% if user_signed_in? %>
		Which child is playing?
		<%= text_field_tag :child %><br>
	<% end %>

	<%= hidden_field_tag "question", "1" %>

	<%= submit_tag "Let's Play!" %>
<% end %>

